{% extends 'base/home.html' %}
{% load static %}

{% block title %}<title>Examenes</title>{% endblock %} 
{% block content %}
    <h2>EXAMENES</h2>
    <p>Espacio en el que registrar los examenes realizados.</p>
{% endblock %}
{% block modulo %}
<div class="contenedor2">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.alumno.label }}<br>
        {{ form.alumno }}<br><br>

        {{ form.personal.label }}<br>
        {{ form.personal }}<br><br>

        {{ form.tipo_examen.label }}<br>
        {{ form.tipo_examen }}<br><br>

        {{ form.fecha_realizado.label }}<br>
        {{ form.fecha_realizado }}<br><br>

        {{ form.hora_realizado.label }}<br>
        {{ form.hora_realizado }}<br><br>

        {{ form.archivo_examen.label }}<br>
        {{ form.archivo_examen }}<br><br>

        {{ form.observaciones.label }}<br>
        {{ form.observaciones }}<br><br>

        <button class="button" type="submit">Actualizar</button>
    </form>
</div>

{% endblock %}