{% extends 'base/home.html' %}
{% load static %}

{% block title %}<title>PAEI</title>{% endblock %} 
{% block content %}
    <h2>DASHBOARD</h2>
    <p>Explain about this page</p>
{% endblock %}
{% block modulo %}
<div class="contenedor2">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Alumno</label><br>
    {{ form.alumno }}<br><br>

    <label>Personal Encargado</label><br>
    {{ form.personal }}<br><br>

    <label>Fecha realizado</label><br>
    {{ form.fecha_realizado }}<br><br>

    <label>Hora realizado</label><br>
    {{ form.hora_realizado }}<br><br>

    <label>Archivo PAEI (PDF)</label><br>
    {{ form.archivo_paei }}<br><br>

    <label>Observaciones</label><br>
    {{ form.observaciones }}<br><br>

    <button type="submit" class="button">Guardar PAEI</button>
    </form>
</div>
    
{% endblock %}