{% extends 'base/home.html' %}
{% load static %}

{% block title %}<title>PAEI</title>{% endblock %} 
{% block content %}
    <h2>DASHBOARD</h2>
    <p>Explain about this page</p>
{% endblock %}
{% block modulo %}
<div class="contenedor2">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Alumno</label>
    {{ form.alumno }}

    <label>Personal Encargado</label>
    {{ form.personal }}

    <label>Fecha realizado</label>
    {{ form.fecha_realizado }}

    <label>Hora realizado</label>
    {{ form.hora_realizado }}

    <label>Archivo PAEI (PDF)</label>
    {{ form.archivo_paei }}

    <label>Observaciones</label>
    {{ form.observaciones }}

    <button type="submit" class="button">Guardar PAEI</button>
    </form>
</div>
    
{% endblock %}