{% extends 'base/home.html' %}
{% load static %}

{% block title %}<title>Reportes</title>{% endblock %} 
{% block content %}
    <h2>REPORTES</h2>
    <p>Consultar reporteria relacionada a los alumnos</p>
{% endblock %}
{% block modulo %}
<div class="contenedor2">
    <form method="GET" action="{% url 'reportes' %}">
    <input type="text" name="buscar" placeholder="Buscar alumno por nombre o ID">
    <button type="submit" class="btn-agendar">Consultar</button>
    </form>

    <br><br>
    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Archivo</th>
            </tr>
        </thead>

        <tbody>
            {% if examenes %}
                {% for ex in examenes %}
                <tr>
                    <td>{{ ex.tipo_examen }}</td>
                    <td>{{ ex.fecha_realizado }}</td>
                    <td>{{ ex.estado }}</td>
                    <td><a href="{{ ex.archivo_examen.url }}" download>Descargar</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No hay exámenes para este alumno.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <table>
        <tbody>
            {% if paei %}
            <tr>
                <td>PAEI</td>
                <td>{{ paei.fecha_realizado }}</td>
                <td>{{ paei.estado }}</td>
                <td><a href="{{ paei.archivo_paei.url }}" download>Descargar</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Este alumno no tiene PAEI registrado.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}